<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    <div style="display: inline-block; width: 100%">
      <a style="float: right; margin-right: 20px; text-decoration: none; color: white" mat-button [routerLink]="'/login'">Login</a> 
      <a style="float: right; margin-right: 20px; text-decoration: none; color: white;" mat-button [routerLink]="'/display'">Display</a> 
    </div>       
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>